.goldit {
  color: gold;
  font-style: italic;
  border-bottom-color: gold;
  border-bottom-style: dotted;
  text-align: center;
}
.goldbig {
  color: gold;
  font-weight: bolder;
  font-style: oblique;
  font-size: x-large;
}

body {
  font-family: system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

table {
  border-spacing: 5;
  row-gap: 5rem;

  background-color: rgb(67, 157, 173);
  text-align: right;
}

td {
  text-align: right;
}

table {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
  row-gap: 1rem;
}
